[submodule "Reveal.js-TOC-Progress"]
	path = Reveal.js-TOC-Progress
	url = https://github.com/e-gor/Reveal.js-TOC-Progress.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
